/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');

@import url('./badges.css');
@import url('./back-link.css');

body {
  margin: 0;
  padding: 0;

  line-height: 1.5;
}

/* Контейнер галереї */
.gallery {
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;

  background-color: #ffffff;

  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  gap: 24px;
  row-gap: 24px;
}

/* Одиничний елемент галереї */
.gallery-item {
  width: 450px;
  height: 300px;
  overflow: hidden;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}
